*{
  margin: 0;
  padding: 0;
}
body{
  /*background-image:url("/img/fox.jpg");*/
  background-color: #d4dfd0;
}
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

nav{
  background: linear-gradient(#506256, #6d8274);
  padding-left: 5%;
}
nav ul li{
  display: inline-block;
  height: 31px;
  padding-top: 10px;
  margin-right: 20px;
}
nav ul li:hover .submenu,
nav ul li:hover .submenuLogin{
  display:block;
}
nav ul li a{
  color: #eaf2ee;
  text-decoration: none;
}
.submenu,
.submenuLogin {
  float: left;
  position: absolute;
  padding-left: 0px;
  background-color: #6d8274;
  overflow: hidden;
  height: auto;
  display: none;
  margin-top: 11px;
}
.submenu li {
  display: block;
  text-decoration: none;
  width:150px;
}
.submenuLogin li {
  display: block;
  text-decoration: none;
  width:300px;
  height:100px;
}

.title {
  color: red;
  font-size: 30px;
}

.make_red {
  color: red;
}

.survey_list {
  margin-left: 25px;
}
