<div class="container">
  <form action='/survey/create/question' method="POST">
    <label>Question Text</label><input type="text" name="question[text]"><br>
<!--     <label>Number of answers</label><input type="number" name="number_options"><br> -->
    <input type="submit" value="next">
  </form>
  <br><br>
  <form action='survey/create/confirm' method="POST">
    <input type="submit" value="confirm survey details">
  </form>
</div>
