<div class="container">
 <!--  <form action='/survey/create' method="GET">
    <input type="submit" value="Create Survey">
  </form> -->
  <a href="/survey/create">Create</a> <br>
  <a href="/survey/1/results">Debug -- View Results of First Survey Made</a>
</div>
