<div class="container">
 <!--  <form action='/survey/create' method="GET">
    <input type="submit" value="Create Survey">
  </form> -->
  <a href="/survey/create">Create</a> <br>

  <br><br>
  - View Survey Results -
  <% @surveys.each do |survey| %>
    <a href="/survey/<%=survey.id%>/results"><%=survey.title%></a><br>
  <%end%>
</div>
