<div class="container">
  <h1>Survey The Foxes -- Uncaged  </h1>
  <h2>STFU -- For all your survey needs</h2>


 <!--  <form action='/survey/create' method="GET">
    <input type="submit" value="Create Survey">
  </form> -->
  <a href="/survey/create">Create</a>
</div>
