<div class="container">
 <!--  <form action='/survey/create' method="GET">
    <input type="submit" value="Create Survey">
  </form> -->
  <br>
  - View Public Survey Results - <br>
  <ul class="survey_list">
  <% @surveys.each do |survey| %>
    <%if survey.is_public%>
    <li> <%=survey.title%>
      | <a href="/survey/<%=survey.id%>"> Take this survey</a>
      | <a href="/survey/<%=survey.id%>/results"> Results</a>
    </a></li>
    <%end%>
  <%end%>
  </ul>
</div>
