<div class="container">
  <h2>Create Account</h2>
  <form action='/create_account' method="POST">
    <label>Name: </label>
    <input type="text" name="user[name]">
    <label>Email: </label>
    <input type="text" name="user[email]">
    <label>Password: </label>
    <input type="password" name="user[password]">
    <label>Password Confirmation: </label>
    <input type="password" name="user[password_confirmation]">
    <input type="submit" value="Sign Up">
  </form>


</div>
